$h5: 32px;
$h4: 28px;
$h3: 24px;
$h2: 20px;
$h1: 18px;

$s-h5: 32px;
$s-h4: 28px;
$s-h3: 24px;
$s-h2: 20px;
$s-h1: 18px;

$t6: 1.125rem;
$t5: 1rem;
$t4: 0.925rem;
$t3: 0.875rem;
$t2: 0.75rem;
$t1: 0.625rem;

$b6: 18px;
$b5: 16px;
$b4: 14.4px;
$b3: 14px;
$b2: 12px;
$b1: 10px;

$neutral-9: #1c1e24;
$neutral-8: #3f4145;
$neutral-7: #6e7178;
$neutral-6: #a9aeb7;
$neutral-5: #c6c9cf;
$neutral-4: #dfe1e6;
$neutral-3: #eeeeee;
$neutral-2: #f6f7f7;
$neutral-1: #fafafa;
$neutral-0: #ffffff;
$primary-5: #4b286d;
$primary-4: #c9bfd3;
$primary-3: #dbd4e2;
$primary-2: #edeaf0;
$primary-1: #f6f4f7;

$secondary-5: #6277f0;
$secondary-4: #d0d6fb;
$secondary-3: #e0e4fc;
$secondary-2: #eff1fe;
$secondary-1: #f7f8fe;

$blue: #1970e6;
$red: #d83e31;
$yellow: #f7ae3b;
$green: #28b058;
